.m-avatar-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .avatar {
    width: 70px;
    height: 70px;
  }

  .info {
    margin-left: 20px;
  }

  .action {
    margin-left: auto;
  }
}
